.register-card {
    width: 450px;
    margin: 0 auto;
    padding: 24px;
}

.terms-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.password-info {
    margin-bottom: 24px;
}
.password-info p {
    color: var(--text-secondary);
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: bold;
}
.password-info ul {
    padding-left: 20px;
    margin: 0;
}
.password-info li {
    font-size: 11px;
    color: var(--text-secondary);
}
